anyio
appdirs
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
async-lru
attrs
Babel
backcall
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
click
comm
contourpy
cycler
debugpy
decorator
defusedxml
exceptiongroup
executing
fastjsonschema
fonttools
fqdn
h11
htmltools
idna
ipykernel
ipython
ipython-genutils
ipywidgets
isoduration
jedi
Jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
kiwisolver
linkify-it-py
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdit-py-plugins
mdurl
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
overrides
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
platformdirs
prometheus-client
prompt-toolkit
psutil
ptyprocess
pure-eval
pycparser
Pygments
PyJWT
pyparsing
python-dateutil
python-json-logger
python-multipart
pytz
PyYAML
pyzmq
qtconsole
QtPy
referencing
requests
rfc3339-validator
rfc3986-validator
rpds-py
rsconnect-python
seaborn
semver
Send2Trash
shiny
six
sniffio
soupsieve
stack-data
starlette
terminado
tinycss2
tomli
tornado
traitlets
types-python-dateutil
typing_extensions
tzdata
uc-micro-py
uri-template
urllib3
uvicorn
watchfiles
wcwidth
webcolors
webencodings
websocket-client
websockets
widgetsnbextension
